{% extends 'base.html' %}

{% block title %}
<title>Historical Records</title>
{% endblock %}

{% block style %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
        color: #333;
        margin: 0;
        padding: 0;
    }

    h1 {
        color: #007bff;
        text-align: center;
        margin-top: 20px;
    }

    table {
        width: 80%;
        margin: 20px auto;
        border-collapse: collapse;
    }

    table,
    th,
    td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #007bff;
        color: #fff;
    }

    a {
        display: block;
        width: 120px;
        padding: 10px;
        margin: 20px auto;
        text-align: center;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    
</style>
{% endblock %}

{% block content %}
<h1>Historical Records</h1>
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Time Slot</th>
            <th>Room Number</th>
        </tr>
    </thead>
    <tbody>
        {% for record in history %}
        <tr>
            <td>{{ record.date }}</td>
            <td>{{ record.time_slot }}</td>
            <td>{{ record.room_number }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('faculty.dashboard') }}">Back to Dashboard</a>
{% endblock %}