{% extends 'base.html' %}

{% block title %}
<title>Update Faculty Availability</title>
{% endblock %}

{% block style %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
        color: #333;
        margin: 0;
        padding: 0;
    }

    h1 {
        color: #007bff;
        text-align: center;
        margin-top: 20px;
    }

    form {
        width: 60%;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    label {
        display: block;
        margin-bottom: 10px;
    }

    select,
    input[type="checkbox"],
    button {
        width: 100%;
        padding: 8px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    button {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }

    a {
        display: block;
        width: fit-content;
        margin: 20px auto;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

   
</style>
{% endblock %}

{% block content %}
<h1>Update Faculty Availability</h1>
<form action="{{ url_for('incharge.update_faculty_availability') }}" method="POST">
    <label for="faculty">Select Faculty:</label>
    <select name="faculty_id" id="faculty">
        {% for faculty in faculty_list %}
        <option value="{{ faculty.faculty_id }}">{{ faculty.name }}</option>
        {% endfor %}
    </select>
    <label for="is_available">Is Available:</label>
    <input type="checkbox" name="is_available" id="is_available" value="1">
    <button type="submit">Update Availability</button>
</form>
<a href="{{ url_for('incharge.dashboard') }}">Back to Dashboard</a>
{% endblock %}